{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
     <h2>About </h2>
     <p>This is the about page. This website main functionality is on the search page.
     The Wikipedia API gathers and displays page information using Jinja HTML templates,
         simplifying webpage formatting compared to direct Python coding. Through routes
         like "search," the application utilizes HTML forms with the "post" method to receive
         and process data from the "request" object. Additionally, the url_for() function
         generates accurate URLs for specified view/route functions, abstracting the need
         for precise path knowledge.
     </p>
{% endblock %}